# ProTalk Bot Credentials (По умолчанию используются 60381 / 60381_FONb1dD2SQdv7FwG0ui2PZ9ODxXMKkz7)
PROTALK_BOT_ID="60381"
PROTALK_BOT_TOKEN="60381_FONb1dD2SQdv7FwG0ui2PZ9ODxXMKkz7"

# TELEGRAM_BOT_TOKEN: Telegram bot token.
VITE_TELEGRAM_BOT_TOKEN=""
# TELEGRAM_CHAT_ID: Telegram chat ID for file uploads.
VITE_TELEGRAM_CHAT_ID=""
